.aw-vertical-align{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: red;
}

.aw-heading{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    margin-top: 1em;
}

.aw-digit{
    padding: 2em;
}

.aw-ending{
    color: rgb(177, 13, 13);
    letter-spacing: -0.4px;
}

#btnAboutUs{
    border: 2px solid red;
}

#btnRemindMe{
    border: 2px solid #f8f9fa;
}

.btn-danger:hover{
    background: transparent;
}

.btn-light:hover{
    background: transparent;
    color: white;
}

.navbar{
    background: rgba(0,0,0,0.8) !important;
}

#home-section{
    background: url('../img/acid.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}

#showAbout{
    background: transparent;
}

.model-dialog{
    min-height: calc(100vh - 60px);
    overflow: auto;
}

@media (min-width: 350px) {
    .aw-heading {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        margin: 1em;
    }
}

@media (min-width: 760px) {
    .navbar{
        background: transparent !important;
    }

    .aw-heading {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin: 1em;
    }
}
